---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon";

const title: string = "Le mot du patron";
const creator: string = "Quentin Vander Meulen";
const role: string = "Fondateur et directeur de Maître-Baigneur";
---

<Container>
	<h2 class="quote__title">{title}</h2>
	<div class="quote__content">
		<div class="quote__img">
			<img loading="lazy" src="/images/quentin.jpg" alt={`${creator} - ${role}`} width="500" height="500" />
		</div>
		<blockquote>
			<p>
				<Icon name="quote" aria-hidden="true" />
				Je me souviens du plaisir que j’avais enfant à passer des heures à m’amuser dans l’eau. Aujourd’hui, près de 30 ans après, j’en ai fait mon métier
				: athlète de haut niveau, joueur professionnel de water-polo et maître nageur. Au fil des années, j’ai ressenti le besoin d’inventer ma pédagogie,
				en créant ma propre école, Maître-Baigneur. Un souhait profond, celui d’allier mes différentes expériences et de transmettre mon savoir au travers
				d’une pédagogie ludique, pour que chaque baigneur puisse avoir le plaisir de nager en toute sécurité.
				<Icon name="quote" aria-hidden="true" />
			</p>
			<footer>
				<cite>
					<span>{creator}</span>
					{role}
				</cite>
			</footer>
		</blockquote>
	</div>
</Container>

<style lang="scss">
	.quote {
		&__title {
			text-align: center;
			margin-bottom: 2rem;
		}
		&__content {
			display: flex;
			gap: var(--space-l);
			align-items: center;

			@media screen and (max-width: 992px) {
				flex-direction: column;
			}

			& > * {
				flex: 1;
			}
			blockquote {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				p {
					text-align: justify;
					position: relative;

					svg {
						width: 50%;
						height: 50%;
						position: absolute;

						color: var(--color-bg-light-alt);
						z-index: -1;

						&:first-of-type {
							transform: rotate(180deg);
							top: -25%;
							left: -25%;
						}
						&:last-of-type {
							bottom: -25%;
							right: -25%;
						}
					}
				}
				cite {
					span {
						display: block;
						font-family: var(--ff-pacifico);
						font-weight: bold;
						font-size: var(--fs-small);
					}
				}
			}
		}
		&__img {
			max-width: 100%;
			max-height: 100%;

			img {
				max-width: 100%;
				height: auto;
				object-fit: cover;
				-webkit-mask-image: url("/images/blob.svg");
				-webkit-mask-size: contain;
				-webkit-mask-position: center;
				-webkit-mask-repeat: no-repeat;
			}
		}
	}
</style>
