---
// Framework imports
import { Image } from 'astro:assets';

// UI Components
import Title from '@components/ui/Title.astro';
import { Icon } from 'astro-icon/components';

import poolsData from '@assets/data/pools.ts';
---

<div class='container'>
  <Title level='2' class='pools__title'>
    Les bassins d'accueil à Aix-en-Provence et ses environs
  </Title>
  <p class='pools__desc'>
    L’équipe de Maître-Baigneur exerce à la fois à domicile mais également en bassins
    d’apprentissage. Nous sommes heureux de vous présenter les établissements avec lesquels nous
    collaborons pour vous offrir une expérience de qualité dans un cadre magnifique.
  </p>
  <div class='pools__grid'>
    {
      poolsData.map((pool) => (
        <article
          class={`pool ${pool.name
            .replace(/\s|_|\(|\)/g, '-')
            .normalize('NFD')
            .replace(/\p{Diacritic}/gu, '')
            .toLowerCase()}`}
        >
          <a href={pool.href} class='pool__link'>
            <Image
              class='pool__img'
              src={pool.image.path}
              alt={pool.image.alt || ''}
              width={300}
              height={300}
            />
            <div class='pool__info'>
              <h3 class='pool__title'>{pool.name}</h3>
              <span class='pool__location'>{pool.location}</span>
              <span class='pool__period'>
                {pool.period === 'All year'
                  ? "Toute l'année"
                  : pool.period === 'Summer'
                    ? 'Été'
                    : pool.period}
              </span>
              <ul class='pool__services'>
                {pool.services.map((service) => (
                  <li title={service.name}>
                    <Icon name={service.icon} />
                  </li>
                ))}
              </ul>
            </div>
          </a>
        </article>
      ))
    }
    <article class=`pool`>
      <a href='/contact?option=autres-questions-ou-suggestions' class='pool__link'>
        <div class='pool__info'>
          Vous souhaitez collaborer<br /> avec Maître-Baigneur ?
        </div>
      </a>
    </article>
  </div>
</div>

<style lang='scss'>
  .pools__title {
    text-align: center;
  }
  .pools__grid {
    padding-inline: 2rem;
    margin-block: var(--space-md);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-md);

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      gap: var(--space-md);
      padding-inline: 0;
    }
  }

  .pool {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--color-bg-light-alt);
    box-shadow:
      0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3),
      0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
    transition: all 0.3s ease-in-out;
    height: 250px;
    width: 100%;
    margin-bottom: calc(var(--space-md) * -1);

    &:nth-child(odd) {
      grid-column: 1;
    }

    &:nth-child(even) {
      grid-column: 2;
      margin-top: var(--space-md);
    }

    &:hover {
      transform: translateY(-0.5rem);
    }

    @media screen and (max-width: 576px) {
      margin: 0 !important;
    }

    &__period {
      color: var(--color-white);
    }

    &__link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: center;

      //disables the links on the images
      &::after,
      &::before {
        content: none !important;
      }
    }
    &__info {
      position: absolute;
      z-index: 2;
      padding: var(--space-xs);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &__title {
      color: var(--color-white);
      font-size: var(--fs-md);
      margin: 0;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 80%;
    }
    &__location {
      background: hsla(var(--link-color-white-hsl), 0.7);
      padding: 0.1rem 1rem;
      border-radius: 100vh;
      color: var(--color-primary);
      font-family: var(--ff-pacifico);
      font-size: var(--fs-base);

      &:empty {
        padding: 0;
      }
    }
    &__img {
      display: flex;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__services {
      display: flex;
      gap: var(--space-2xs);
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: center;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;

        :global(svg) {
          width: 1.5rem;
          height: 1.5rem;
          fill: var(--color-primary);
        }
      }
    }
  }
</style>
