---
import site from "@assets/data/data.json";
import Container from "@components/Container.astro";

const { siteLinks } = site;
const pools = siteLinks.pools;
---

<Container>
	<h2 class="pools__title">Les bassins d'accueil à Aix-en-Provence et ses environs</h2>
	<p class="pools__desc">
		L’équipe de Maître-Baigneur exerce à la fois à domicile mais également en bassins d’apprentissage. Nous sommes heureux de vous présenter les
		établissements avec lesquels nous collaborons pour vous offrir une expérience de qualité dans un cadre magnifique.
	</p>
</Container>
<div class="pools__grid horizontal-scroll">
	{
		pools.map(pool => (
			<article
				class={`pool hs__item ${pool.name
					.replace(/\s|_|\(|\)/g, "-")
					.normalize("NFD")
					.replace(/\p{Diacritic}/gu, "")
					.toLowerCase()}`}
			>
				<a href={pool.href} class="pool__link">
					<img loading="lazy" class="pool__img" src={pool.image.src} alt={pool.image.alt} />
					<div class="pool__info">
						<h3 class="pool__title">{pool.name}</h3>
						<span class="pool__location">{pool.location}</span>
					</div>
				</a>
			</article>
		))
	}
</div>

<style lang="scss">
	.pools__title {
		text-align: center;
	}
	.pools__grid {
		padding-inline: 2rem;
		margin-top: var(--space-md);

		.pool {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 1.5rem;
			border-radius: 25px;
			overflow: hidden;
			box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
			transition: all 0.3s ease-in-out;
			max-width: 600px;
			max-height: 300px;

			@media screen and (max-width: 768px) {
				max-width: 75%;
			}
			@media screen and (max-width: 576px) {
				max-width: 100%;
			}

			&:not(:last-child) {
				margin-right: var(--space-md);
			}

			&:hover {
				transform: translateY(-0.5rem);
				// transition: all 0.3s ease-in-out;
				// transform: scale(1.03) rotate(-2deg);
				// z-index: 9;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: hsla(var(--link-color-primary-hsl), 0.3);
			}

			&__link {
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				text-align: center;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-color: hsla(var(--link-color-primary-hsl), 0.3);
				}
			}
			&__info {
				position: absolute;
				z-index: 2;
				padding: var(--space-xs);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			&__title {
				color: var(--color-white);
				font-size: var(--fs-md);
				margin: 0;
				position: relative;
			}
			&__location {
				position: absolute;
				bottom: -1rem;
				background: hsla(var(--link-color-white-hsl), 0.7);
				padding: 0.1rem 1rem;
				border-radius: 100vh;
				color: var(--color-primary);
				font-family: var(--ff-pacifico);
				font-size: var(--fs-base);

				&:empty {
					padding: 0;
				}
			}
			&__img {
				display: flex;
				height: 100%;
				width: 100%;
				object-fit: cover;

				// transition: all 300ms ease;
				// transform: scale(1);
				// transform-origin: center;
			}
			// &:hover {
			// 	.pool__img {
			// 		transition: all 300ms ease;
			// 		transform: scale(1.05);
			// 		transform-origin: center;
			// 	}
			// }
		}
	}

	//horizontal scroll section css
</style>
