---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
//data
const page = {
	metaTitle: "Maître-Baigneur | Notre bassin d'apprentissage à Kinémouv'",
	description: "",
	title: "Kinémouv'",
	image: {
		webp: "/images/page-title/webp/fallback.webp",
		jpg: "/images/page-title/fallback.jpg",
		alt: "Bassin Kinémouv' à Pertuis",
	},
};
---

<BaseLayout title={page.metaTitle} descritpion={page.description}>
	<SkipToContent />

	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />
	<Main>
		<Section>
			<Container>
				<h2>Kinémouv'</h2>
			</Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
