---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";

//data

const page = {
	metaTitle: "Maître-Baigneur | Notre bassin d'apprentissage à Plan Form",
	description: "",
	title: "Set Club",
	imageUrl: "/images/page-title/page_planform-bassins.jpg",
	imageAlt: "Bassin de Planform à Cabriès",
};
---

<BaseLayout title={page.title} descritpion={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrl={page.imageUrl} pageImageAlt={page.imageAlt} />

	<Main><h1>Plan Form</h1></Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
