---
import Buttons from "@components/ui/Buttons.astro";
import site from "@assets/data/prices.json";
import options from "@assets/data/formOptions.json";
import Title from "@components/ui/Title.astro";

const { prices } = site;
const aquaversaire = prices.aquaversaire;

const formOptions = options;
const aquaversaryOption = formOptions[4];
---

<div class="packages-container aquaversaire">
  <div>
    <div class="package">
      <Title level="1" class="package__title">{aquaversaire.name}</Title>

      <ul class="package__list">
        <li class="package__item">
          <span class="package__txt">{aquaversaire.desc}</span>
        </li>
        <li class="package__item">
          {aquaversaire.surveillanceTime} heures <span class="package__price"
            >{aquaversaire.price}€</span
          >
        </li>

        <li class="package__item">
          {aquaversaire.extra.desc}
          <span class="package__price">{aquaversaire.extra.price}€</span>
        </li>
      </ul>
      <Buttons
        href={`/contact?option=${aquaversaryOption.slug}`}
        class="btn btn__regular"
        newTab
      >
        Demander un devis
      </Buttons>
    </div>
  </div>
</div>

<style>
  .container {
    width: 100%;
  }
</style>
