---
import Button from "@components/ui/Button.astro";
import site from "@assets/data/prices.json";
import Title from "@components/ui/Title.astro";

const { prices } = site;
const swimmingPrices = prices.swimmingLessons;
const swimmingPricesHome = swimmingPrices.home;

const swimmingPricesPool = swimmingPrices.pool;
---

<div class="top">
  <div class="top__toggle-btn">
    <span class="top__toggle-btn-label top__toggle-btn-label--active"
      >En bassin</span
    >
    <label class="top__toggle-btn-switch" for="checkbox">
      <input
        type="checkbox"
        id="checkbox"
        aria-label="Chenger entre bassin et domicile"
      />
      <span class="top__toggle-btn-slider top__toggle-btn-slider--round"></span>
    </label>
    <span class="top__toggle-btn-label">À domicile</span>
  </div>
</div>

<div class="packages-container swimming">
  <div id="price-package-home">
    <div class="package">
      <Title level="1" class="package__title">Séance à l'unité</Title>
      <ul class="package__list">
        {
          swimmingPricesHome.formula.map(
            (item: { name: string; price: number; extraDesc?: string }) => {
              return (
                <li class="package__item">
                  {item.name} <span class="package__price">{item.price}€</span>
                  {item.extraDesc && (
                    <span class="package__extra-desc">{item.extraDesc}</span>
                  )}
                </li>
              );
            }
          )
        }
      </ul>
      <Button
        href="https://user.clicrdv.com/sarl-qfe"
        class="btn btn__regular"
      >
        Réserver
      </Button>
    </div>
  </div>
  <div id="price-package-pool">
    <div class="package">
      <Title level="1" class="package__title">Séance à l'unité</Title>
      <ul class="package__list">
        {
          swimmingPricesPool.single.map(
            (item: { name: string; price: number; extraDesc?: string }) => {
              return (
                <li class="package__item">
                  {item.name} <span class="package__price">{item.price}€</span>
                  {item.extraDesc && (
                    <span class="package__extra-desc">{item.extraDesc}</span>
                  )}
                </li>
              );
            }
          )
        }
      </ul>
      <Button
        href="https://user.clicrdv.com/sarl-qfe"
        class="btn btn__regular"
        newTab
      >
        Réserver
      </Button>
    </div>

    <div class="package">
      <Title level="1" class="package__title">Les cartes</Title>
      <ul class="package__list">
        {
          swimmingPricesPool.cards.map(
            (item: { name: string; price: number; extraDesc?: string }) => {
              return (
                <li class="package__item">
                  {item.name} <span class="package__price">{item.price}€</span>
                  {item.extraDesc && (
                    <span class="package__extra-desc">{item.extraDesc}</span>
                  )}
                </li>
              );
            }
          )
        }
      </ul>
      <Button
        href="https://user.clicrdv.com/sarl-qfe"
        class="btn btn__regular"
        newTab
      >
        Réserver
      </Button>
    </div>
  </div>
</div>

<style lang="scss">
  .packages-container {
    #price-package-home {
      display: none;
    }
  }
</style>
<script>
  function swimmingPricesSetup() {
    const checkBox = document.getElementById("checkbox") as HTMLInputElement;
    const pricePackageHome = document.getElementById("price-package-home");
    const pricePackagePool = document.getElementById("price-package-pool");
    const labels = document.querySelectorAll(".top__toggle-btn-label");

    function check() {
      if (checkBox && pricePackageHome && pricePackagePool && labels) {
        if (checkBox.checked) {
          labels[0].classList.remove("top__toggle-btn-label--active");
          labels[1].classList.add("top__toggle-btn-label--active");
          pricePackageHome.style.display = "flex";
          pricePackagePool.style.display = "none";
        } else {
          labels[0].classList.add("top__toggle-btn-label--active");
          labels[1].classList.remove("top__toggle-btn-label--active");
          pricePackageHome.style.display = "none";
          pricePackagePool.style.display = "flex";
        }
      }
    }

    checkBox?.addEventListener("click", check);
  }
  swimmingPricesSetup();
  document.addEventListener("astro:after-swap", swimmingPricesSetup);
</script>
