---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import 'sanitize.css/forms.css';
import PageTitle from '@components/header/PageTitle.astro';
import Main from '@components/Main.astro';

import SkipToContent from '@components/ui/SkipToContent.astro';
import Title from '@components/ui/Title.astro';

import contact from '@assets/images/page-title/page_contact.jpg';

//data

const page = {
  metaTitle: 'Nous contacter',
  description: '',
  title: 'Nous contacter',

  image: {
    jpg: contact,
    alt: "Garçon sous l'eau tenant un téléphone près de son oreille",
  },
};

import Form from '@components/forms/Form.tsx';
---

<BaseLayout title={page.title} description={page.description}>
  <SkipToContent />
  <Header />
  <PageTitle pageTitle={page.title} pageImagePath={page.image.jpg} pageImageAlt={page.image.alt} />

  <Main>
    <section class='form' aria-label='Formulaire de contact'>
      <div class='container'>
        <Title level='2' class='section-title' animate>
          Pour nous contacter, c'est par ici !
        </Title>
        <p>
          Vous souhaitez réserver des cours de natation à domicile ? Un aquaversaire ? Un mariage ou
          autre ? Ou tout simplement nous faire part de votre expérience Maître-Baigneur ? <p>
            Vous êtes au bon endroit, n'hésitez pas à nous écrire quelques lignes, nous les lirons
            toutes !
          </p>
        </p>
        <Form client:load />
      </div>
    </section>
  </Main>
  <Footer />
</BaseLayout>
