---
import BaseLayout from '@layouts/BaseLayout.astro';
import Main from '@components/Main.astro';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PageTitle from '@components/header/PageTitle.astro';
import SkipToContent from '@components/ui/SkipToContent.astro';
import Accordion from '@components/ui/accordion/Accordion.astro';
import AccordionItem from '@components/ui/accordion/AccordionItem.astro';
import Search from '@components/ui/Search.astro';
import Button from '@components/ui/Button.astro';
import Title from '@components/ui/Title.astro';
import Faq from '@components/widgets/Faq.astro';

import fallback from '@assets/images/page-title/fallback.jpg';

//data
import pools from '@assets/data/pools.ts';
const summerPools = pools.filter((pool) => pool.period === 'Summer');
const allYearPools = pools.filter((pool) => pool.period === 'All year');

import { reservationLink } from '@assets/data/data.json';

const page = {
  metaTitle: 'Foire aux questions',
  description:
    "Découvrez les réponses aux questions les plus fréquentes sur Maître Baigneur et notre approche pédagogique innovante pour l'apprentissage de la natation en petits groupes.",
  title: 'FAQ',

  image: {
    path: fallback,
    alt: 'Foire Aux Questions',
  },
};
---

<BaseLayout title={page.metaTitle} description={page.description}>
  <SkipToContent />
  <Header />
  <PageTitle pageTitle={page.title} pageImagePath={page.image.path} pageImageAlt={page.image.alt} />

  <Main>
    <section>
      <div class='container'>
        <Title level='2' animate>Foire aux questions</Title>
        <p>
          Nous avons rassemblé ici les questions les plus fréquentes que nous recevons de la part de
          nos baigneurs pour vous aider à trouver rapidement les informations que vous cherchez. Si
          vous ne trouvez pas réponse à vos interrogations, veuillez <a href='/contact'
            >nous contacter</a
          > à l'aide du formulaire prévu à cet effet.
        </p>

        <!--Search field-->
        <Search />

        <!--Accordion panels-->

        <Faq />
      </div>
    </section>
  </Main>
  <Footer />
</BaseLayout>
