---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";
import Accordion from "@components/ui/accordion/Accordion.astro";
import AccordionItem from "@components/ui/accordion/AccordionItem.astro";

//data

const page = {
	metaTitle: "Maître-Baigneur |  Foire aux questions",
	description: "",
	title: " Foires Aux Questions",

	image: {
		webp: "/images/page-title/webp/fallback.webp",
		jpg: "/images/page-title/fallback.jpg",
		alt: "Foire Aux Questions",
	},
};
---

<BaseLayout title={page.title} descritpion={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />

	<Main>
		<Section>
			<Container>
				<h2>Foire Aux Questions</h2>
				<Accordion>
					<AccordionItem header="test">test</AccordionItem>
				</Accordion>
			</Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
