---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";

import SkipToContent from "@components/ui/SkipToContent.astro";

//data

const page = {
	metaTitle: "Maître-Baigneur | Mentions légales",
	description: "",
	title: "Mentions légales",
	imageUrl: "/images/page-title/page_legal.jpg",
	imageAlt: "Garçon sous l'eau tenant un téléphone près de son oreille",
};
---

<BaseLayout title={page.metaTitle} descritpion={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrl={page.imageUrl} pageImageAlt={page.imageAlt} />

	<Main><h1>Mentions légales</h1></Main>
	<Footer />
</BaseLayout>
