---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";

import SkipToContent from "@components/ui/SkipToContent.astro";

//data

const page = {
	metaTitle: "Maître-Baigneur | Plan du site",
	description: "",
	title: "Plan du site",

	image: {
		webp: "/images/page-title/webp/fallback.webp",
		jpg: "/images/page-title/fallback.jpg",
		alt: "Vue sur des pieds trempants dans l'eau d'une piscine"
	}
};
---

<BaseLayout title={page.metaTitle} description={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />

	<Main>
		<Section>
			<Container>
				<h2>Plan du site</h2>
			</Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style></style>
