---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";

import site from "@assets/data/data.json";
import Services from "@components/widgets/Services.astro";
import Title from "@components/ui/Title.astro";

const { siteLinks } = site;
const services = siteLinks.services;

//data

const page = {
  metaTitle: "Nos prestations",
  description: "",
  title: "Nos prestations",

  image: {
    webp: "/images/page-title/webp/fallback.webp",
    jpg: "/images/page-title/fallback.jpg",
    alt: "Vue sur des pieds trempants dans l'eau d'une piscine",
  },
};
---

<BaseLayout title={page.metaTitle} description={page.description}>
  <SkipToContent />
  <Header />
  <PageTitle
    pageTitle={page.title}
    pageImageUrlWebp={page.image.webp}
    pageImageUrl={page.image.jpg}
    pageImageAlt={page.image.alt}
  />

  <Main>
    <Section
      class="services"
      ariaLabel="Les bassins d'apprentissage de Maître-Baigneur"
    >
      <Container>
        <Title level="2">Nos prestations</Title>
        <p>
          Maître-Baigneur est votre partenaire pour un apprentissage ludique et
          sécurisé de la natation. Nous nous concentrons sur les cours de bébé
          nageur dès 3 mois et les cours de natation dès 3 ans, en proposant des
          sessions en petits groupes pour une attention personnalisée. Notre
          philosophie est d'apprendre en s'amusant.
        </p>
        <p>
          En plus de ces prestations, nous offrons la surveillance d'événements
          et l'organisation d'aquaversaires. Rejoignez Maître-Baigneur pour
          vivre des moments aquatiques inoubliables !
        </p>
        <Services />
      </Container>
    </Section>
    <Footer />
  </Main>
</BaseLayout>
<style></style>
