---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Section from "@components/Section.astro";
import Main from "@components/Main.astro";
import Qualities from "@components/widgets/Qualities.astro";
import Waves from "@components/ui/shapes/Waves.astro";
import Container from "@components/Container.astro";
import { Icon } from "astro-icon";

import SkipToContent from "@components/ui/SkipToContent.astro";

//data

const page = {
	metaTitle: "Maître-Baigneur | Qui sommes-nous ?",
	description: "",
	title: "Qui sommes-nous ?",

	image: {
		webp: "/images/page-title/webp/page_quisommesnous.webp",
		jpg: "/images/page-title/page_quisommesnous.jpg",
		alt: "Maître-Baigneur apprenant un garçon à nager"
	}
};
---

<BaseLayout title={page.metaTitle} descritpion={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />
	<Main>
		<Section class="qualities" ariaLabel="Maître-Baigneur en trois mots">
			<Qualities />
		</Section>
		<Section class="pedagogy" ariaLabel="La philosophie Maître-Baigneur" backgroundColor="var(--color-bg-light)">
			<Container>
				<Waves atTopOfSection={true} />
				<img loading="lazy" class="pedagogy__img" src="/images/hero.jpg" alt="Maître-Baigneur en action" />
				<div class="pedagogy__content">
					<h2>La philosophie Maître-Baigneur</h2>
					<h3>Nager en groupe</h3>
					<p>
						Notre pédagogie en petits groupes pour l'apprentissage de la natation renforce l'esprit d'équipe, la solidarité, la confiance en soi et
						favorise l'autonomie des élèves. Apprendre à nager est crucial pour leur sécurité et peut améliorer leur capacité cognitive, leurs
						compétences sociales et leur coordination. Continuer à nager tout au long de l'année peut également améliorer leur condition physique
						générale. Il est important de ne pas interrompre l'apprentissage, sinon cela peut entraîner une régression brutale de leurs acquis.
					</p>
				</div>
				<Waves />
			</Container>
		</Section>
		<Section class="quote" ariaLabel="Le mot du directeur Quentin Vander Meulen">
			<Container>
				<h2 class="quote__title">Le mot du patron</h2>
				<div class="quote__content">
					<div class="quote__img">
						<picture>
							<source type="image/webp" srcset="/images/quentin.webp" />
							<img
								loading="lazy"
								src="/images/quentin.jpg"
								alt="Quentin Vander Meulen - Fondateur et directeur de Maître-Baigneur"
								width="500"
								height="500"
							/>
						</picture>
					</div>
					<blockquote>
						<p>
							<Icon name="quote" aria-hidden="true" />
							Je me souviens du plaisir que j’avais enfant à passer des heures à m’amuser dans l’eau. Aujourd’hui, près de 30 ans après, j’en ai fait mon
							métier : athlète de haut niveau, joueur professionnel de water-polo et maître nageur. Au fil des années, j’ai ressenti le besoin d’inventer
							ma pédagogie, en créant ma propre école, Maître-Baigneur. Un souhait profond, celui d’allier mes différentes expériences et de transmettre
							mon savoir au travers d’une pédagogie ludique, pour que chaque baigneur puisse avoir le plaisir de nager en toute sécurité.
							<Icon name="quote" aria-hidden="true" />
						</p>
						<footer>
							<cite>
								<span>Quentin Vander Meulen</span>
								Fondateur et directeur de Maître-Baigneur
							</cite>
						</footer>
					</blockquote>
				</div>
			</Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style lang="scss">
	.pedagogy {
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__content {
			padding: 2rem;

			@media screen and (min-width: 992px) {
				padding: 0;
			}
		}
	}
	.quote {
		&__title {
			text-align: center;
			margin-bottom: 2rem;
		}
		&__content {
			display: flex;
			gap: var(--space-lg);
			align-items: center;

			@media screen and (max-width: 992px) {
				flex-direction: column;
			}

			& > * {
				flex: 1;
			}
			blockquote {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				p {
					text-align: justify;
					position: relative;

					svg {
						width: 50%;
						height: 50%;
						position: absolute;

						color: var(--color-bg-light-alt);
						z-index: -1;

						&:first-of-type {
							transform: rotate(180deg);
							top: -25%;
							left: -25%;
						}
						&:last-of-type {
							bottom: -25%;
							right: -25%;
						}
					}
				}
				cite {
					span {
						display: block;
						font-family: var(--ff-pacifico);
						font-weight: bold;
						font-size: var(--fs-sm);
					}
				}
			}
		}
		&__img {
			max-width: 100%;
			max-height: 100%;

			img {
				max-width: 100%;
				height: auto;
				max-height: 400px;
				object-fit: cover;
				border-radius: var(--regular-border-radius);
				// 	-webkit-mask-image: url("/images/blob.svg");
				// 	-webkit-mask-size: contain;
				// 	-webkit-mask-position: center;
				// 	-webkit-mask-repeat: no-repeat;
			}
		}
	}
</style>
