---
import Copyright from '@components/footer/Copyright.astro';
import Socials from '@components/Socials.astro';
import Button from '@components/ui/Button.astro';
import PoolList from '@components/widgets/PoolList.astro';
import { Icon } from 'astro-icon';
import Waves from '@components/ui/shapes/Waves.astro';
import GoToTop from '@components/ui/GoToTop.astro';
import StickyBtns from '@components/ui/StickyBtns.astro';

import site from '@assets/data/data.json';
import Title from './ui/Title.astro';
import { Image } from 'astro:assets';
import logo from '@assets/images/logo.svg';

const { siteLinks } = site;
const services = siteLinks.services;
const footerMenu = siteLinks.footerMenu;
---

<footer class='footer'>
  <Waves atTopOfSection />
  <div class='container'>
    <div class='footer__sections'>
      <div class='footer__col brand'>
        <Image class='logo' width={300} height={250} src={logo} alt='Logo Maître-Baigneur' />

        <p class='slogan'>"...Le bonheur du baigneur..."</p>
        <ul class='info'>
          <li>
            <Button class='btn' href='tel:+33677007584'>
              <span class='icon'>
                <Icon name='call' />
              </span>
              <span class='visually-hidden'>Appelez Maître Baigneur au +33 6 77 00 75 84</span>
              +33 6 77 00 75 84
            </Button>
          </li>
          <li>
            <Button class='btn' href='mailto:contact@maitrebaigneur.com'>
              <span class='icon'><Icon name='mail' /></span><span class='visually-hidden'
                >Écrivez-nous à contact@maitrebaigneur.com</span
              >contact@maitrebaigneur.com
            </Button>
          </li>
          <li>
            <span class='icon'><Icon name='location' /></span>Aix-en-Provence et ses alentours
          </li>
        </ul>
        <Socials iconVersion='light' />
      </div>

      <div class='footer__col services' data-aos='zoom-in'>
        <Title level='3' class='title'>Nos prestations</Title>
        <ul>
          {
            services.map((service) => (
              <li>
                <Button class='btn' href={service.href}>
                  {service.name}
                </Button>
              </li>
            ))
          }
        </ul>
      </div>
      <div class='footer__col useful-links' data-aos='zoom-in'>
        <Title level='3' class='title'>Besoin d'aide ?</Title>

        <ul>
          {
            footerMenu.map((item) => (
              <li>
                <Button class={item.classes} href={item.href} newTab={item.inNewTab}>
                  {item.name}
                </Button>
              </li>
            ))
          }
        </ul>
      </div>
      <div class='footer__col pools' data-aos='zoom-in'>
        <Title level='3' class='title'>Nos bassins</Title>
        <PoolList />
      </div>
    </div>
    <Copyright />
  </div>
  <StickyBtns />
  <!-- <GoToTop /> -->
</footer>

<style lang='scss'>
  .footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    position: relative;

    &* {
      color: inherit;
    }
    .title {
      font-size: var(--fs-md);
      margin-bottom: var(--space-md);
      @media screen and (max-width: 576px) {
        margin-bottom: 1rem;
      }
    }

    &__sections {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--space-md);
    }
    &__col {
      &.brand {
        grid-column: 1 / span 4;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        margin-bottom: 2rem;
        margin-top: -100px;
        text-align: center;
        z-index: 2;
      }
      &.pools {
        text-align: center;
        grid-column: 1 / span 4;
        @media screen and (max-width: 1024px) {
          grid-column: 1 / span 4;
        }
      }
      &.services {
        grid-column: 1 / span 2;
      }
      &.useful-links {
        grid-column: 3 / span 2;
      }
      &.services,
      &.useful-links {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
          text-align: center;
        }
        ul {
          text-align: left;

          a {
            padding: 0;
            min-height: unset;
          }
        }
        @media screen and (max-width: 576px) {
          text-align: center;
          grid-column: 1 / span 6;
        }
      }
    }

    .logo {
      max-height: 250px;
      background-color: transparent;
      margin-inline: auto;
    }
    .slogan {
      margin-block: -2rem 0;
      font-family: var(--ff-pacifico);
      font-size: var(--fs-lg);
    }
    .info {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-md);

      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: var(--space-xs);
      }
      & > * {
        margin: 0;
      }

      & > li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--space-xs);

        .btn {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          gap: var(--space-xs);
        }
        .icon {
          display: block;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }
</style>
