---
import Buttons from "./ui/Buttons.astro";
import { Icon } from "astro-icon";
import site from "@assets/data/data.json";

const { siteLinks } = site;
const pools = siteLinks.pools;
---

<form id="form" class="form" action="https://getform.io/f/07ac1ebb-9a09-434c-a1ae-a86c55824ca5" method="POST">
	<fieldset class="form__group">
		<legend>En quoi pouvons-nous vous aider ?</legend>
		<div class="radio__group">
			<div class="form__field">
				<label for="choice1" class="card card-swimming">
					<input type="radio" autocomplete="off" name="choice" value="leçons de natation à domicile" id="choice1" class="radio" />
					<span class="sr-only">Leçons de natation à domicile</span>
					<span class="card__title" aria-hidden="true">Leçons de natation à domicile</span>
				</label>
			</div>
			<div class="form__field">
				<label for="choice2" class="card card-aquaversary">
					<input type="radio" autocomplete="off" name="choice" value="organiser un aquaversaire" id="choice2" class="radio" />
					<span class="sr-only">Organisation d'un aquaversaire</span>
					<span class="card__title" aria-hidden="true">Organisation d'un aquaversaire</span>
				</label>
			</div>
			<div class="form__field">
				<label for="choice3" class="card card-events">
					<input type="radio" autocomplete="off" name="choice" value="sécuriser un événement" id="choice3" class="radio" />
					<span class="sr-only">Sécuriser un événement</span>
					<span class="card__title" aria-hidden="true">Sécurité d'un événement</span>
				</label>
			</div>
			<div class="form__field">
				<label for="choice4" class="card card-questions">
					<input type="radio" autocomplete="off" name="choice" value="autres questions ou suggestions" id="choice4" class="radio" />
					<span class="sr-only">Autres questions ou suggestions</span>
					<span class="card__title" aria-hidden="true">Autres questions ou suggestions</span>
				</label>
			</div>
			<div class="form__field">
				<label for="choice5" class="card card-baby">
					<input type="radio" autocomplete="off" name="choice" value="cours de bébé nageur" id="choice5" class="radio" />
					<span class="sr-only">Cours de bébé nageur</span>
					<span class="card__title" aria-hidden="true">Cours de bébé nageur</span>
				</label>
			</div>
			<div class="form__field">
				<label for="choice6" class="card card-swimming">
					<input type="radio" autocomplete="off" name="choice" value="leçons de natation en station" id="choice6" class="radio" />
					<span class="sr-only">Leçons de natation en bassin d'apprentissage</span>
					<span class="card__title" aria-hidden="true">Leçons de natation en bassin d'apprentissage</span>
				</label>
			</div>
		</div>
	</fieldset>

	<!-- 1rst section - swimming lessons -->
	<fieldset class="form__section" id="swimming-lessons">
		<legend>Contact pour leçons de natation à domicile</legend>
		<div class="form__field col-100">
			<label for="name">Nom d'un des parents</label>
			<input type="text" name="name" />
		</div>
		<div class="form__field">
			<label for="tel">Numéro de téléphone</label>
			<input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />
		</div>
		<div class="form__field">
			<label for="email">Adresse mail</label>
			<input type="email" name="email" />
		</div>
		<div class="form__field col-100">
			<label for="location">Où est-ce que l'on nage ?</label>
			<input type="text" name="location" />
			<small>Adresse et code postal de la piscine</small>
		</div>
		<div class="form__field col-100">
			<label for="dates">Quand vodriez-vous réserver un cours ?</label>
			<textarea name="dates" rows="3"></textarea>
			<small>Veuillez nous fournir plusieurs dates et heures</small>
		</div>

		<p class="col-100">Nous ne garantissons pas la réservation de vos créneaux mais nous ferons de notre mieux pour vous répondre favorablement.</p>

		<div class="col-100">
			<h3>Aide à l'évaluation du niveau du baigneur</h3>
			<ul>
				<li><span>Mini-Baigneur</span> : Débutant ( J'ai les brassards et je ne mets pas la tête dans l’eau )</li>
				<li><span>Petit-Baigneur</span> : Sécurité aquatique ( J'ai les brassards, je saute et je mets la tête dans l’eau )</li>
			</ul>
		</div>
	</fieldset>

	<!-- 2nd section - aquaversary -->
	<fieldset class="form__section" id="aquaversary">
		<legend>Contact pour un Aquaversaire</legend>
		<div class="form__field">
			<label for="name">Nom</label>
			<input type="text" name="name" />
		</div>
		<div class="form__field">
			<label for="firstname">Prénom</label>
			<input type="text" name="firstname" />
		</div>
		<div class="form__field">
			<label for="tel">Numéro de téléphone</label>
			<input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />
		</div>
		<div class="form__field">
			<label for="email">Adresse mail</label>
			<input type="email" name="email" />
		</div>
		<div class="form__field col-100">
			<label for="info">Où ? Quand ? Et combien de baigneurs</label>
			<textarea name="info" rows="3"></textarea>
			<small>Exemple: Je souhaite organiser un aquaversaire à Aix le 01/01/23 pour 10 enfants...</small>
		</div>
	</fieldset>

	<!-- 3rd section - events -->
	<fieldset class="form__section" id="events">
		<legend>Contact pour de la surveillance</legend>
		<div class="form__field">
			<label for="name">Nom</label>
			<input type="text" name="name" />
		</div>
		<div class="form__field">
			<label for="firstname">Prénom</label>
			<input type="text" name="firstname" />
		</div>
		<div class="form__field">
			<label for="tel">Numéro de téléphone</label>
			<input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />
		</div>
		<div class="form__field">
			<label for="email">Adresse mail</label>
			<input type="email" name="email" />
		</div>
		<div class="form__field col-100">
			<label for="info">Où ? Quand ? Et combien de personnes ? Quel type d'événement ?</label>
			<textarea name="info" rows="3"></textarea>
			<small>Exemple: Je souhaite sécuriser un mariage à Aix le 01/01/23 pour 50 personnes...</small>
		</div>
	</fieldset>

	<!-- 4th section - questions -->
	<fieldset class="form__section" id="questions">
		<legend>Autres questions et suggestions</legend>

		<div class="form__field">
			<label for="name">Nom</label>
			<input type="text" name="name" />
		</div>
		<div class="form__field">
			<label for="firstname">Prénom</label>
			<input type="text" name="firstname" />
		</div>
		<div class="form__field">
			<label for="tel">Numéro de téléphone</label>
			<input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" />
		</div>
		<div class="form__field">
			<label for="email">Adresse mail</label>
			<input type="email" name="email" />
		</div>
		<div class="form__field col-100">
			<label for="info">Message</label>
			<textarea name="info" rows="3"></textarea>
		</div>
	</fieldset>
	<!-- 5th section - Baby swimmers -->
	<fieldset class="form__section no-inputs" id="baby">
		<legend>Cours bébé nageur</legend>

		<p>Pour vous inscrire aux cours de bébé nageur, utilisez notre nouveau système de réservation en ligne.</p>
		<Buttons href="https://user.clicrdv.com/maitre-baigneur" class="btn btn__regular"><Icon name="calendar" /> Je réserve maintenant</Buttons>
	</fieldset>
	<!-- 6th section - Swimming in station -->
	<fieldset class="form__section no-inputs" id="swimming-station">
		<legend>Cours de natation en bassin d'apprentissage</legend>

		<p>
			Pour vous inscrire aux cours de natation dans un de <a href="/bassins">nos bassins d'apprentissage</a>, utilisez notre nouveau système de
			réservation en ligne.
		</p>
		<Buttons href="https://user.clicrdv.com/maitre-baigneur" class="btn btn__regular"><Icon name="calendar" /> Je réserve maintenant</Buttons>
		<div class="pools">
			<h3>Nos bassins d'apprentissage</h3>
			<ul>
				{
					pools.map(item => {
						return (
							<li>
								<a href={item.href}>
									<img loading="lazy" src={item.thumb.jpg} alt={item.thumb.alt} />
									{item.name}
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</fieldset>

	<!-- RGDP -->
	<fieldset class="form__section rgpd" id="rgpd-section">
		<div class="form__field col-100">
			<input type="checkbox" name="rgpd" id="rgpd" required />
			<label for="rgpd" class="rgpd-label"
				>En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient utilisées pour permettre de me recontacter.
			</label>
		</div>

		<!-- submit button -->
		<Buttons type="submit" class="btn btn__regular">Envoyer</Buttons>
	</fieldset>
</form>

<style lang="scss">
	.form {
		//form variables
		--card-line-height: 1.2em;
		--card-padding: var(--space-md);
		--card-radius: 20px;
		--color-gray: #e2ebf6;
		--color-dark-gray: #c4d1e1;
		--radio-border-width: 2px;
		--radio-size: var(--space-md);
		--form-gap: var(--space-xs);

		max-width: 1024px;
		margin: auto;
		display: grid;
		grid-gap: var(--form-gap);
		padding-block: 2rem;

		legend {
			padding-inline: 1rem;
			font-family: var(--ff-pacifico);
			color: var(--color-primary);
			font-size: var(--fs-lg);
		}
		&__group {
			border: none;
			padding: 0;
		}

		&__group .radio__group,
		&__section {
			padding: var(--form-gap);
			display: grid;
			grid-gap: var(--form-gap);
			border: none;
			border-radius: var(--regular-border-radius);
			grid-template-columns: 1fr;

			@media screen and (min-width: 576px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
			@media screen and (min-width: 992px) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			& > .form__field {
				margin: 0;
				display: flex;
				gap: 0.3rem;
				flex-direction: column;
				grid-column: 1 / 3;

				@media screen and (min-width: 600px) {
					grid-column: unset;
				}
			}
			*.col-100 {
				grid-column: 1 / 3;
			}
			input:not([name="choice"]),
			textarea {
				background-color: var(--color-white);
				border-radius: var(--regular-border-radius);
				padding: 0.5rem;
				border: var(--radio-border-width) solid var(--color-gray);

				&:hover {
					border-color: var(--color-dark-gray);
				}
				&:focus {
					outline: 2px solid var(--color-primary);
					box-shadow: 1px 1px 8px 1px hsla(var(--link-color-primary-hsl), 0.5);
				}
			}
		}
		&__section {
			grid-template-columns: repeat(2, minmax(0, 1fr));

			&.no-inputs {
				display: flex;
				flex-direction: column;
				gap: var(--space-md);

				& > * {
					margin: 0;
				}

				// pool list
				ul {
					display: flex;
					flex-wrap: wrap;
					gap: var(--space-2xs);

					& > li {
						list-style-type: none;
						border-radius: var(--regular-border-radius);
						transition: all 0.3s ease-in-out;
						flex-basis: calc(50% - var(--space-md));
						transition: all 0.3s ease-in-out;

						&:hover {
							transform: translateX(1rem);
						}

						@media screen and (max-width: 767px) {
							flex-basis: calc(100% - var(--space-md));
						}

						a:is(a, :hover, :focus, :active) {
							color: var(--color-primary);
							text-decoration: none;
							font-family: var(--ff-pacifico);
							display: block;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						img {
							width: 3rem;
							height: 3rem;
							border-radius: var(--regular-border-radius);
							margin-right: var(--space-md);
						}
					}
				}
				.pools {
					padding: var(--space-md);
					background-color: var(--color-bg-light);
					border-radius: var(--regular-border-radius);
				}

				//booking btn
				.btn {
					svg {
						width: 2rem;
						margin-right: var(--space-xs);
					}
				}
			}

			label {
				height: auto;
			}
			&.rgpd {
				.form__field {
					flex-direction: row;
					flex-wrap: nowrap;
					gap: var(--space-sm);
				}
				input[type="checkbox"] {
					&[name="rgpd"] {
						accent-color: var(--color-primary);
						width: 1.5rem;
						height: 1.5rem;
						border-radius: var(--small-border-radius);
					}
				}
			}
		}

		label {
			display: block;
			height: 100%;

			&:not(.card, .rgpd-label) {
				padding-left: var(--space-xs);
				font-size: 1rem;
				font-weight: 600;
				color: var(--color-secondary);
				height: unset;
			}
		}

		small {
			color: hsla(var(--link-color-black-hsl), 0.5);
			padding-left: var(--space-xs);
		}
		//buttons cards style
		.card {
			background-color: var(--color-white);
			border-radius: var(--card-radius);
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				width: 200%;
				height: 200%;
				z-index: 1;
				top: 50%;
				left: -1rem;
				transform: translateY(-50%);
				opacity: 0.05;
				background-repeat: no-repeat;
				background-position: left;
				background-size: contain;
			}

			&:hover {
				box-shadow: 0 10px 15px -3px hsla(var(--link-color-primary-hsl), 0.3), 0 4px 6px -4px hsla(var(--link-color-primary-hsl), 0.3);
			}

			&.card-swimming {
				&::before {
					background-image: url("/images/icons/swimmer.svg");
				}
			}
			&.card-aquaversary {
				&::before {
					background-image: url("/images/icons/aquaversaire.svg");
				}
			}
			&.card-events {
				&::before {
					background-image: url("/images/icons/event.svg");
				}
			}
			&.card-questions {
				&::before {
					background-image: url("/images/icons/comment-smile.svg");
				}
			}
			&.card-baby {
				&::before {
					background-image: url("/images/icons/baby.svg");
				}
			}
		}

		.radio {
			font-size: inherit;
			margin: 0;
			position: absolute;
			right: calc(var(--card-padding) + var(--radio-border-width));
			top: calc(var(--card-padding) + var(--radio-border-width));
		}

		@supports (-webkit-appearance: none) or (-moz-appearance: none) {
			.radio {
				-webkit-appearance: none;
				-moz-appearance: none;
				background: #fff;
				border: var(--radio-border-width) solid var(--color-gray);
				border-radius: 50%;
				cursor: pointer;
				height: var(--radio-size);
				outline: none;
				transition: background 0.2s ease-out, border-color 0.2s ease-out;
				width: var(--radio-size);

				&::after {
					border: var(--radio-border-width) solid #fff;
					border-top: 0;
					border-left: 0;
					content: "";
					display: block;
					height: 0.75rem;
					left: 25%;
					position: absolute;
					top: 50%;
					transform: rotate(45deg) translate(-50%, -50%);
					width: 0.375rem;
				}

				&:checked {
					background: var(--color-primary);
					border-color: var(--color-primary);
				}
			}

			.card:hover .radio {
				border-color: var(--color-dark-gray);

				&:checked {
					border-color: var(--color-primary);
				}
			}
		}

		.card__title {
			height: 100%;
			border: var(--radio-border-width) solid var(--color-gray);
			border-radius: var(--card-radius);
			cursor: pointer;
			display: flex;
			flex-direction: column;
			padding-block: var(--card-padding);
			padding-inline: var(--card-padding) 4.5rem;

			transition: border-color 0.2s ease-out;
		}

		.card {
			&:hover {
				.card__title {
					border-color: var(--color-dark-gray);
				}
				.radio {
					&:disabled {
						& ~ .card__title {
							border-color: var(--color-gray);
							box-shadow: none;
						}
					}
				}
				.card {
					&:hover {
						.radio {
							&:disabled {
								border-color: var(--color-gray);
							}
						}
					}
				}
			}
		}
		.radio {
			&:checked {
				& ~ .card__title {
					border-color: var(--color-primary);
				}
			}
			&:focus {
				& ~ .card__title {
					box-shadow: 0 0 0 2px var(--color-dark-gray);
				}
			}
			&:disabled {
				& ~ .card__title {
					color: var(--color-dark-gray);
				}
			}
		}
		button[type="submit"] {
			margin-top: var(--space-md);
		}
	}
</style>

<script>
	// Define the section map
	const sectionMap: { [title: string]: HTMLElement } = {
		"leçons de natation à domicile": document.getElementById("swimming-lessons")!,
		"organiser un aquaversaire": document.getElementById("aquaversary")!,
		"sécuriser un événement": document.getElementById("events")!,
		"autres questions ou suggestions": document.getElementById("questions")!,
		"cours de bébé nageur": document.getElementById("baby")!,
		"leçons de natation en station": document.getElementById("swimming-station")!
	};

	// Hide all form sections except the default one
	const formSections = Array.from(document.getElementsByClassName("form__section")) as HTMLElement[];
	formSections.forEach((formSection: HTMLElement) => {
		formSection.style.display = "none";
	});

	// Display form section based on URL parameter, if present
	const urlParams = new URLSearchParams(window.location.search);
	const option = urlParams.get("option");
	if (option) {
		const section = sectionMap[option];
		if (section) {
			section.style.display = section.classList.contains("no-inputs") ? "flex" : "grid";
			const matchingButton = document.querySelector(`input[type='radio'][name='choice'][value='${option}']`) as HTMLInputElement;
			if (matchingButton) {
				matchingButton.checked = true;
			}
		}
	}

	// Add event listeners to the radio buttons
	const radioButtons = document.querySelectorAll("input[type='radio'][name='choice']");
	radioButtons.forEach((button: Element) => {
		button.addEventListener("click", () => {
			const section = sectionMap[(button as HTMLInputElement).value];
			formSections.forEach((formSection: HTMLElement) => {
				formSection.style.display = formSection === section ? (formSection.classList.contains("no-inputs") ? "flex" : "grid") : "none";
			});
			document.getElementById("rgpd-section")!.style.display = section && !section.classList.contains("no-inputs") ? "block" : "none";
			urlParams.set("option", (button as HTMLInputElement).value);
			window.history.replaceState({}, "", window.location.pathname + "?" + urlParams.toString());
		});
	});

	// Hide all form sections and deselect radio buttons if the URL is just /contact
	if (window.location.pathname === "/contact.html") {
		formSections.forEach((formSection: HTMLElement) => {
			formSection.style.display = "none";
		});
		radioButtons.forEach((button: Element) => {
			(button as HTMLInputElement).checked = false;
		});
		document.getElementById("rgpd-section")!.style.display = "none";
	}
</script>
