---
import CloseBtn from "@components/header/CloseBtn.astro";
import Socials from "@components/Socials.astro";
import Buttons from "@components/ui/Buttons.astro";
import site from "@assets/data/data.json";
import { Icon } from "astro-icon";

const { siteLinks } = site;
const secondaryNav = siteLinks.secondary;

//data
const logo = {
	src: "/images/logo.svg",
	width: 200,
	height: 200,
	alt: "Logo Maître-Baigneur"
};
---

<div id="modal" class="modal">
	<div class="modal__content">
		<img loading="lazy" src={logo.src} alt={logo.alt} class="logo" width="200px" />
		<nav class="sidenav" id="side-navigation" aria-label="Maître-Baigneur">
			<ul class="navbar-nav" role="menu" aria-label="Menu de navigation">
				{
					secondaryNav.map(item => (
						<>
							{item.children && (
								<li class={`nav-item dropdown`} role="menuitem">
									<Icon name={item.icon} />
									<Buttons tabindex="0" class="nav-link dropdown__toggle" type="button" aria-expanded="false" aria-controls="dropdown">
										{item.name}
										<Icon name="arrow_down" />
									</Buttons>

									<ul id="dropdown" class="dropdown__menu" role="menu">
										{item.children.map(child => (
											<li class={`nav-item`} role="menuitem">
												<Buttons tabindex="0" class="nav-link dropdown__title" href={child.href}>
													{child.name}
												</Buttons>
											</li>
										))}
									</ul>
								</li>
							)}
							{!item.children && (
								<li
									class={`nav-item ${item.name
										.replace(/\s|_|\(|\)/g, "-")
										.normalize("NFD")
										.replace(/\p{Diacritic}/gu, "")
										.toLowerCase()}`}
									role="menuitem"
								>
									<Icon name={item.icon} />
									<Buttons tabindex="0" class="nav-link" href={item.href} target={item.target}>
										{item.name}
									</Buttons>
								</li>
							)}
						</>
					))
				}
			</ul>
			<Socials iconVersion="light" />
		</nav>
		<!-- close button -->
		<CloseBtn />
	</div>
</div>

<style lang="scss">
	.modal {
		height: 100%;
		// overflow: hidden;
		width: 50%;
		max-width: 1000px;
		position: fixed;
		z-index: 999;
		right: 0;
		top: 0;
		background-color: var(--color-primary);
		padding-block: 3rem 2rem;
		transition: transform 0.3s linear;
		transform: translateX(100%);

		&[data-state="opened"] {
			transform: translateX(0);
		}
		&[data-state="closed"] {
			transform: translateX(100%);
		}

		@media screen and (max-width: 992px) {
			width: 75%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&__content {
			height: 100%;
			overflow-y: scroll;
			display: grid;
		}
	}
	.sidenav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.logo {
		position: absolute;
		bottom: -25%;
		right: -25%;
		transform: translate(25%, 25%);
		width: 130%;
		max-width: 800px;
		transform: rotate(-25deg);
		opacity: 0.1;
	}
	.navbar-nav {
		position: relative;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		padding: 0;
		width: calc(100% - 2rem);
		margin-inline: auto;
		gap: var(--space-2xs);
		width: 50%;

		@media screen and (max-width: 768px) {
			width: 85%;
		}

		.nav-item {
			text-align: left;
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			&::before {
				content: none;
			}

			a {
				color: var(--color-white);
				text-decoration: none;
				line-height: 2rem;
				flex-grow: 1;
			}

			svg {
				color: var(--color-white);
				width: 2rem;
				margin-right: var(--space-2xs);
			}
		}
	}
	.dropdown {
		position: relative;
		flex-wrap: wrap;

		button {
			all: unset;
			color: white;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: 0 0 calc(100% - 2rem - var(--space-2xs));

			svg {
				width: 2rem;
				transition: transform 0.3s ease-in-out;
			}
		}
		&__menu {
			padding-inline: 2rem;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-out 0.1s, margin-top 0.3s ease, padding-block 0.3s ease;
			background-color: hsla(var(--link-color-white-hsl), 0.1);
			border-radius: 10px;
			flex: 0 0 100%;

			& > .nav-item {
				font-weight: 400;

				&:last-child {
					font-weight: 900;
				}
			}
		}
		&--open {
			.dropdown__menu {
				margin-top: var(--space-2xs);
				max-height: 500px;
				padding-block: 0.5rem;
			}
			button {
				svg {
					transition: transform 0.3s ease-in-out;
					transform: rotate(180deg);
				}
			}
		}
	}
	.close-btn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		text-decoration: none;
		color: var(--color-white);
	}
</style>
