---
import CloseBtn from "@components/header/CloseBtn.astro";
import Socials from "@components/Socials.astro";
import Buttons from "@components/ui/Buttons.astro";

//data
const logo = {
	src: "/images/logo.svg",
	width: 200,
	height: 200,
	alt: "Logo Maître-Baigneur",
};
const secondaryNav = [
	{ link: "/prestations/cours-de-natation", name: "Cours de natation" },
	{ link: "/prestations/cours-bebe-nageur", name: "Cours bébé nageur" },
	{ link: "/prestations/aquaversaire", name: "Aquaversaire" },
	{ link: "/prestations/evenement-securite", name: "Événements & Sécurité" },
	{ link: "/bassins", name: "Nos bassins d'apprentissage" },
	{ link: "/bassins/aquabecool", name: "Aquabecool" },
	{ link: "/bassins/plan-form", name: "Plan Form" },
	{ link: "/bassins/set-club", name: "Set Club" },
	{ link: "/bassins/kabanon", name: "Kabanon des écuries de l'aube" },
	{ link: "/bassins/kinemouv", name: "Kinémouv'" },
	{ link: "/bassins/domicile", name: "Domicile" },
	{ link: "/qui-sommes-nous", name: "Qui sommes-nous ?" },
	{ link: "/tarifs", name: "Tarifs" },
	{ link: "/contact", name: "Nous contacter" },
	{ link: "https://user.clicrdv.com/maitre-baigneur", name: "Réservation", target: "_blank" },
];
---

<div id="modal" class="modal">
	<div class="modal__content">
		<img loading="lazy" src={logo.src} alt={logo.alt} class="logo" width="200px" />
		<nav class="sidenav" id="side-navigation" aria-label="Maître-Baigneur">
			<ul class="navbar-nav" role="menubar" aria-label="Menu de navigation">
				{
					secondaryNav.map((item) => (
						<li class="nav-item" role="none">
							<Buttons tabindex="0" role="menuitem" class="nav-link" href={item.link} target={item.target}>
								{item.name}
							</Buttons>
						</li>
					))
				}
			</ul>
			<Socials iconVersion="light" />
		</nav>
		<!-- close button -->
		<CloseBtn />
	</div>
</div>

<style lang="scss">
	.modal {
		height: 100%;
		overflow: hidden;
		width: 50%;
		position: fixed;
		z-index: 999;
		right: 0;
		top: 0;
		background-color: var(--color-primary);
		padding-block: 3rem 2rem;
		transition: transform 0.3s linear;
		transform: translateX(100%);

		&[data-state="opened"] {
			transform: translateX(0);
		}
		&[data-state="closed"] {
			transform: translateX(100%);
		}

		@media screen and (max-width: 992px) {
			width: 75%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&__content {
			height: 100%;
			overflow-y: scroll;
			display: grid;
		}
	}
	.sidenav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.logo {
		position: absolute;
		bottom: -25%;
		right: -25%;
		transform: translate(25%, 25%);
		width: 130%;
		max-width: 800px;
		transform: rotate(-25deg);
		opacity: 0.1;
	}
	.navbar-nav {
		position: relative;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		width: calc(100% - 2rem);
		margin-inline: auto;

		.nav-item {
			text-align: center;
			a {
				color: var(--color-white);
				text-decoration: none;
			}
			flex: 0 0 100%;

			// &:not(:nth-last-of-type(-n + 2)),
			// &:not(:nth-child(-n + 2)) {
			// 	flex: 0 0 100%;
			// }
			// &:nth-last-of-type(-n + 2),
			// &:nth-child(-n + 2) {
			// 	display: inline-block;
			// 	max-width: 50%;
			// }
		}
	}

	.nav-link {
	}
	.close-btn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		text-decoration: none;
		color: var(--color-white);
	}
</style>
