---
import BaseLayout from '@layouts/BaseLayout.astro';
import Main from '@components/Main.astro';
import SkipToContent from '@components/ui/SkipToContent.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PageTitle from '@components/header/PageTitle.astro';
import Title from '@components/ui/Title.astro';

import AquafitnessPrices from '@components/widgets/prices/AquafitnessPrices.astro';

import aquafitness from '@assets/images/page-title/page_aquafitness.jpg';

//data
const page = {
  metaTitle: 'Aquafitness',
  description: '',
  title: 'Aquafitness',
  image: {
    jpg: aquafitness,
    alt: "Personnes participant à un cours d'aquafitness dans une piscine",
  },
};
import { Image } from 'astro:assets';
---

<BaseLayout title={page.metaTitle} description={page.description}>
  <SkipToContent />
  <Header />
  <PageTitle pageTitle={page.title} pageImagePath={page.image.jpg} pageImageAlt={page.image.alt} />

  <Main>
    <section class='aquafitness'>
      <div class='container'>
        <Title animate level='2' class='aquafitness__title'>
          L'aquafitness, une activité qui vous fera sourire à coup sûr grâce à nos coachs de choc
        </Title>

        <div class='aquafitness__content'>
          <p class='aquafitness__desc'>
            Voici pourquoi :<br />

            <strong>Rires garantis :</strong> Se déplacer dans l'eau est toujours amusant, que ce soit
            en sautillant ou en faisant des vagues. L'aquafitness transforme votre séance d'entraînement
            en un moment de pur plaisir.
            <br />
            <strong>Tonifiez tout en vous amusant :</strong> Les mouvements dans l'eau sculptent votre
            corps tout en douceur, sans jamais vous ennuyer. Bye-bye la monotonie, bonjour la bonne humeur
            !
            <br />
            <strong>Cardio-training sans impact :</strong> Augmentation du rythme cardiaque et combustion
            des calories sans stress pour les articulations.
            <br />
            <strong>Lâchez prise et relaxez-vous :</strong> L'eau a un effet apaisant instantané. L'aquafitness
            vous permet de vous détendre tout en vous dépensant, pour un bien-être total.
            <br />
            <strong>Entraînez-vous en musique :</strong> Rien de tel que de bouger sur des rythmes entraînants
            pour booster votre motivation ! L'aquafitness est fait pour vous !
          </p>
          <div class='aquafitness__details'>
            <Title animate level='4'>À propos de nos cours d'Aquafitness</Title>
            <ul>
              <li>Jusqu'à 8 personnes</li>
              <li>8 vélos à disposition</li>
              <li>Temps de séance de 45 minutes</li>
              <li>Musique variées et rythmées</li>
            </ul>
          </div>
        </div>
        <Image
          class='aquafitness__img'
          src='/src/assets/images/services/aquafitness.jpg'
          alt="Personnes participant à un cours d'aquafitness dans une piscine"
          width={1024}
          height={575}
        />
      </div>
    </section>
    <section>
      <div class='container'>
        <Title animate level='3'>Tarifs Aquafitness</Title>
        <AquafitnessPrices />
      </div>
    </section>
  </Main>
  <Footer />
</BaseLayout>

<style lang='scss'>
  .aquafitness {
    &__content {
      display: flex;
      flex-wrap: nowrap;
      gap: var(--space-lg);
      margin-block: var(--space-lg);

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      & > * {
        flex: 1;
      }
    }
    &__details {
      background-color: var(--color-bg-light);
      border-radius: var(--regular-border-radius);
      padding: var(--space-lg);
      box-shadow:
        0 10px 15px -3px hsla(var(--link-color-secondary-hsl), 0.1),
        0 4px 6px -4px hsla(var(--link-color-secondary-hsl), 0.1);
      position: relative;
      display: flex;
      flex-direction: column;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--regular-border-radius);
        background-image: url('/images/icons/fitness.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        opacity: 0.05;
      }

      h4 {
        font-family: var(--ff-pacifico);
      }

      ul {
        list-style: none;
        & > li {
          &::before {
            content: '✓';
            margin-right: var(--space-sm);
          }
        }
      }
    }
    &__img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: var(--regular-border-radius);
    }
  }
</style>
