---
import { Picture } from 'astro:assets';
// Framework imports
import BaseLayout from '@layouts/BaseLayout.astro';
import Main from '@components/Main.astro';

// UI Components
import SkipToContent from '@components/ui/SkipToContent.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PageTitle from '@components/header/PageTitle.astro';
import Title from '@components/ui/Title.astro';
import Button from '@components/ui/Button.astro';

// Feature Components
import LevelsGrid from '@components/widgets/LevelsGrid.astro';
import SwimmingPrices from '@components/widgets/prices/SwimmingPrices.astro';
import Waves from '@components/ui/shapes/Waves.astro';

import natation from '@assets/images/page-title/page_natation.jpg';
import fear from '@assets/images/niveaux/6_peur-du-baigneur.jpg';

// Data
const page = {
  metaTitle: 'Cours de natation',
  description:
    "Découvrez les cours de natation ludiques et pédagogiques de Maître Baigneur. Que vous soyez débutant ou confirmé, nos groupes d'apprentissage vous permettront d'apprendre à nager en vous amusant, dès 3 ans. Réservez vos séances en ligne !",
  title: 'Cours de natation',
  image: {
    path: natation,
    alt: 'Enfant npassant en nageant dans un cerceau aux côtés du maître nageur',
  },
};
---

<BaseLayout title={page.metaTitle} description={page.description}>
  <SkipToContent />
  <Header />
  <PageTitle pageTitle={page.title} pageImagePath={page.image.path} pageImageAlt={page.image.alt} />
  <Main>
    <section class='levels'>
      <div class='container'>
        <Title animate level='2'> Nos groupes d’apprentissage de la natation </Title>
        <p>
          Grâce à la pédagogie Maître-Baigneur, nager ne sera plus jamais une corvée ! Finis les
          clichés sur l’apprentissage de la natation classique avec les ceintures… Place désormais à
          du matériel ludique et pédagogique afin d’apprendre en s’amusant.
        </p>
        <LevelsGrid />
      </div>
    </section>
    <section class='fear bg-light-alt'>
      <Waves atTopOfSection />
      <div class='container fear__section'>
        <div class='fear__img' data-aos='fade-right'>
          <Picture
            src={fear}
            alt='Illustration de la peur du baigneur'
            width={800}
            height={600}
            formats={['webp']}
          />
        </div>
        <div class='fear__content' data-aos='zoom-in'>
          <Title animate level='4' class='fear__title'> La peur du baigneur </Title>
          <p class='fear__txt'>
            Libérez-vous, jetez-vous à l’eau !<br />
            Nous sommes là pour vous aider à vaincre votre crainte du monde aquatique. L’Aquaphobie ne
            sera plus qu’un mauvais souvenir.
          </p>
          <Button href='tel:+33677007584' class:list='btn btn__regular'> Parlons-en ! </Button>
        </div>

        <Waves />
      </div>
    </section>
    <section class='swimming-prices'>
      <div class='container'>
        <Title animate level='3'>Tarifs de nos leçons de natation</Title>
        <SwimmingPrices />
      </div>
    </section>
  </Main>
  <Footer />
</BaseLayout>

<style lang='scss'>
  :global(.fear__section) {
    display: grid;
    grid-template-columns: calc((100% * 1 / 3) - 2rem) calc((100% * 2 / 3) - 2rem);
    gap: 4rem;
    align-items: center;
    padding-block: var(--space-md);

    @media screen and (max-width: 992px) {
      grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
      gap: 2rem;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  .fear {
    &__img {
      overflow: hidden;
      border-radius: var(--regular-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        max-height: 370px;
        object-fit: contain;
      }
    }
    &__content {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }
    &__title {
      color: inherit;
      margin-bottom: 0;
      font-size: var(--fs-lg);
      font-weight: bold;
    }
  }
</style>
