---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
import LevelsGrid from "@components/widgets/LevelsGrid.astro";
import SwimmingPrices from "@components/widgets/prices/SwimmingPrices.astro";
import Waves from "@components/ui/shapes/Waves.astro";

//data
const page = {
	metaTitle: "Maître-Baigneur | Cours de natation",
	description: "",
	title: "Cours de natation",
	image: {
		webp: "/images/page-title/webp/page_natation.webp",
		jpg: "/images/page-title/page_natation.jpg",
		alt: "Petite fille avec lunettes de natation nageant sous l'eau tout sourire"
	}
};
---

<BaseLayout title={page.metaTitle} description={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />
	<Main>
		<Section class="levels">
			<Container>
				<h2>Nos différents groupes d’apprentissage de la natation</h2>
				<p>
					Grâce à la pédagogie Maître-Baigneur, nager ne sera plus jamais une corvée ! Finis les clichés sur l’apprentissage de la natation classique
					avec les ceintures… Place désormais à du matériel ludique et pédagogique afin d’apprendre en s’amusant.
				</p>
				<LevelsGrid />
			</Container>
		</Section>
		<Section class="fear" backgroundColor="var(--color-bg-light-alt)">
			<Waves atTopOfSection />
			<Container className="fear__section">
				<div class="fear__img">
					<picture>
						<source type="image/webp" srcset="/images/levels/6_peur-du-baigneur.webp" />
						<img
							loading="lazy"
							src="/images/levels/6_peur-du-baigneur.jpg"
							alt="Illustration de la peur du baigneur"
							class=""
							height="600"
							width="800"
						/>
					</picture>
				</div>
				<div class="fear__content">
					<h4 class="fear__title">La peur du baigneur</h4>
					<p class="fear__txt">
						Libérez-vous, jetez-vous à l’eau !<br />
						Nous sommes là pour vous aider à vaincre votre crainte du monde aquatique. L’Aquaphobie ne sera plus qu’un mauvais souvenir.
					</p>
				</div>

				<Waves />
			</Container>
		</Section>
		<Section class="swimming-prices">
			<Container>
				<h3>Tarfis de nos leçons de natation</h3>
				<SwimmingPrices />
			</Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style lang="scss">
	.fear {
		&__section {
			display: grid;
			grid-template-columns: calc((100% * 1 / 3) - 2rem) calc((100% * 2 / 3) - 2rem);
			gap: 4rem;
			align-items: center;
			padding-block: var(--space-md);

			@media screen and (max-width: 992px) {
				grid-template-columns: calc(40% - 1rem) calc(60% - 1rem);
				gap: 2rem;
			}

			@media screen and (max-width: 768px) {
				grid-template-columns: 1fr;
				gap: 2rem;
			}
		}

		&__img {
			overflow: hidden;
			border-radius: var(--regular-border-radius);
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				max-height: 370px;
				object-fit: contain;
			}
		}
		&__content {
			display: flex;
			gap: 1rem;
			flex-direction: column;
		}
		&__title {
			color: inherit;
			margin-bottom: 0;
			font-size: var(--fs-lg);
			font-weight: bold;
		}
	}
</style>
