---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTitle from "@components/header/PageTitle.astro";
import Main from "@components/Main.astro";
import SkipToContent from "@components/ui/SkipToContent.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";

//data
const page = {
	metaTitle: "Maître-Baigneur | Cours bébé nageur",
	description: "",
	title: "Cours bébé nageur",

	image: {
		webp: "/images/page-title/webp/page_bebenageur-2.webp",
		jpg: "/images/page-title/page_bebenageur-2.jpg",
		alt: "Garçon en bas âge nageant sous l'eau"
	}
};
---

<BaseLayout title={page.metaTitle} descritpion={page.description}>
	<SkipToContent />
	<Header />
	<PageTitle pageTitle={page.title} pageImageUrlWebp={page.image.webp} pageImageUrl={page.image.jpg} pageImageAlt={page.image.alt} />
	<Main>
		<Section class="baby-swimmer" ariaLabel="Informations concernant la section bébé nageur">
			<Container>
				<h2>Qu’est-ce que le bébé-nageur avec Maître-Baigneur ?</h2>
				<p>
					Dans une eau chaude, avec des jeux à profusion… Tout est prévu pour le bien-être, l’amusement et l’éveil de votre bébé. Motricité et
					découverte seront mises en place dans une ambiance propice au développement. Fidèle à notre pédagogie, les cours de bébé-baigneur se
					déroulent dans une atmosphère ludique, En effet, il s’agit d’un moment de complicité entre les parents et le bébé. Nos éducateurs
					spécialisés vous accompagneront dans cette nouvelle expérience.
				</p>
				<img src="/images/page-title/page_bebenageur.jpg" alt="Garçon en bas âge nageant sous l'eau " />
			</Container>
		</Section>
		<Section>
			<Container><h3>Prix</h3></Container>
		</Section>
	</Main>
	<Footer />
</BaseLayout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
