---
import Favicon from "@components/head/Favicon.astro";
import GeoTag from "@components/head/GeoTag.astro";

import { SEO } from "astro-seo";

export interface SeoProps {
  title: string;
  description: string;
  openGraphType?: string;
  openGraphTitle?: string;
  openGraphDescription?: string;
  openGraphImage?: string;
  openGraphImageAlt?: string;
}
const canonical : URL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  openGraphType,
  openGraphTitle,
  openGraphDescription,
  openGraphImage,
  openGraphImageAlt,
} = Astro.props;

const siteTitle: string = "Maître Baigneur";


import "sanitize.css";
import "../assets/styles/main.scss";

//differents geotag for the different pools, default is aix-en-provence (10KM acurancy)
const region: string = "FR-13";
const placename: string = "Aix-en-Provence";
const position: string = "43.5;5.4";
const icbm: string = "43.5, 5.4";
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={`${title} | ${siteTitle}`}
      description={description}
      canonical={canonical.toString()}
      openGraph={{
        basic: {
          type: openGraphType ? openGraphType : "website",
          title: openGraphTitle ? openGraphTitle : title,
          image: openGraphImage ? openGraphImage : "/images/og/og-default.jpg",
          url: canonical.toString(),
        },
        image: {
          alt: openGraphImageAlt
            ? openGraphImageAlt
            : "Découvrez les cours de natation pour tous les âges chez Maître Baigneur - de la piscine pour les bébés nageurs dès 3 mois aux leçons de natation pour enfants et adultes débutants ou confirmés.",
        },
        optional: {
          description: openGraphDescription
            ? openGraphDescription
            : "Découvrez les cours de natation pour tous les âges chez Maître Baigneur - de la piscine pour les bébés nageurs dès 3 mois aux leçons de natation pour enfants et adultes débutants ou confirmés.",
        },
      }}
    />
    <title>{title}</title>

    <!-- GEOTAG -->
    <GeoTag
      region={region}
      placename={placename}
      position={position}
      icbm={icbm}
    />
    <!-- /GEOTAG -->

    <!-- FAVICON -->
    <Favicon />
    <!-- /FAVICON -->
  </head>
  <body>
    <slot />
    {Astro.url.pathname !== '/404' && <script src="../assets/scripts/navbar.js"></script>}
  </body>
</html>
