---
import Favicon from "@components/head/Favicon.astro";
import GeoTag from "@components/head/GeoTag.astro";

export interface Props {
	title: string;
	descritpion: string;
}

const { title, description } = Astro.props;

import "sanitize.css";
import "../assets/styles/main.scss";

//differents geotag for the ddifferent pools, default is aix-en-provence (10KM acurancy)
const region: string = "FR-13";
const placename: string = "Aix-en-Provence";
const position: string = "43.5;5.4";
const icbm: string = "43.5, 5.4";
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		<!-- GEOTAG -->
		<GeoTag region={region} placename={placename} position={position} icbm={icbm} />
		<!-- /GEOTAG -->

		<!-- FAVICON -->
		<Favicon />
		<!-- /FAVICON -->
	</head>
	<body>
		<slot />
		<script src="../assets/scripts/navbar.js"></script>
	</body>
</html>
